/* 共通部分 */
*, *:before, *:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
}

a{
  text-decoration: none;
  display: inline-block;
  color: inherit;
  width: 100%;
  cursor: pointer;
  transition: .3s;
  &:hover{
    opacity: .8;
    transition: .3s;
  }
  .inline{
    display: inline;
  }
}
img{
  width: 100%;
  height: auto;
  vertical-align: bottom;
}
.white{
  color: #fff;
}
.btn:hover{
  cursor: pointer;
  transition: .3s;
  opacity: .8;
}
body{
  font-family: "Hiragino Kaku Gothic ProN" sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6{
  font-family: Futura, sans-serif;
  font-weight: 300;
}
h2{
  font-size: 4.3rem;
}

$fs-xl :3.4rem;
$fs-l: 2.2rem;
$fs-m:1.6rem;
$fs-s:1.4rem;
$fs-xs:1.2rem;

.container{
  max-width: 810px;
  width: 100%;
}
$primary: #C63205;
$second: #421f15;
$white: #fff;
$info: #333333;

ul{
  list-style: none;
}

.white{
  color: $white;
}