/* 共通部分 */
*, *:before, *:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
}

//color 
//$price:#fff;
//$second:#000;
//
a{
  text-decoration: none;
  display: inline-block;
  color: inherit;
  width: 100%;
  cursor: pointer;
}
img{
  width: 100%;
  vertical-align: bottom;
}
.white{
  color: #fff;
}
.btn:hover{
  cursor: pointer;
}
body{
  font-family: "Hiragino Kaku Gothic ProN" sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6{
  font-family: Futura, sans-serif;
}

$fs-xl :2.125em;
$fs-l: 1.375em;
$fs-m:1em;
$fs-s:0.875em;
$fs-xs:0.75em;

.container{
  max-width: 810px;
  width: 100%;
}
$primary: #C63205;
$second: #421f15;
$white: #fff;
$info: #333333;

