.ly-{
  &wrapper{
    max-width: 810px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
  &py60{
    padding-top: 60px;
    padding-bottom: 60px;
  }
  &py45{
    padding-top: 30px;
    padding-bottom: 30px;
  }
  &py30{
    padding-top: 30px;
    padding-bottom: 30px;
  }
  &pa15{
    padding: 15px;
  }
  &my60{
    margin-top: 60px;
    margin-bottom: 60px;
  }
  &my30{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  &my15{
    margin-top: 15px;
    margin-bottom: 15px;
  }
  &flex{
    display: flex;
  }
  &between{
    justify-content: space-between;
    flex-wrap: wrap;
    @include mq('sp'){
      flex-direction: column;
    }
  }
  &bigbg{
    background-size: cover;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
  }
  &column{
    display: flex;
    &:nth-last-child(){
      margin-right: 0;
    }
    @include mq('sp'){
      flex-direction: column;
    }
    &_sp{
      display: flex;
      justify-content: center;
    }
  }
}