@import "base";
@import "header";
@import "mixin";
@import "layout";

body{
  font-family: "Hiragino Kaku Gothic ProN";
  width: 100%;
  height: auto;
  background-image: url(../img/background.png);
  background-size: cover;
}
.flex-center{
  display: flex;
  justify-content: center;
  list-style: none;
}
.header-menu{
  margin-right: 30.5px;
  margin-left: 30.5px;
  text-align: center;
  font-weight: bold;
}
.en{
  font-size: $fs-l;
}
.ja{
  font-size: $fs-xs;
}
.nav-container{
  margin-top: 25px;
  margin-bottom: 25px;
}

/*----------  mv  --------*/
.mv{
  background-image: url(../img/heder.png);
  background-size: cover;
  width: 100%;
  height: auto;
  &-container{
    max-width: 920px;
    margin: 0 auto;
    height: auto;
    position: relative;
  }
  &-flex{
    display: flex;
    justify-content: space-between;
    margin-top: 88px;
  }
  &-btn{
    width: 200px;
    height: 60px;
    background-color: $primary;
    color: $white;
    font-size: $fs-s;
    position: absolute;
    bottom: -90px;
    right: 0px;
  }
}

/* INTRODUCTION */
.intro{
  position: relative;
  background-color: rgba(255,255,255, .3);
  &-img::before{
    content: url(../img/intro.png);
    position: absolute;
    top: 0;
    left: 0;
    width: 28.4%;
    height: auto;
  }
  &-ttl{
    text-align: center;
    font-size: 2.875em;
    font-weight: 400;
    padding-bottom: 15px;
    color: #301F1B;
  }
  &-sbttl{
    text-align: center;
    padding-bottom: 30px;
    color: #301F1B;
  }
  &-txt{
    font-size: $fs-xs;
    color: $info;
    margin-left: 30px;
  }
}
//ここは要改善ポイント
.ly-flex > p:last-of-type{
  margin-right: 30px;
}
