@import "base";
@import "header";
@import "mixin";
@import "layout";

body{
  font-family: "Hiragino Kaku Gothic ProN";
  width: 100%;
  height: auto;
  background-image: url(../img/background.png);
  background-size: cover;
}
.flex-center{
  display: flex;
  justify-content: center;
  list-style: none;
}
.header-menu{
  margin-right: 30.5px;
  margin-left: 30.5px;
  text-align: center;
  font-weight: bold;
}
.en{
  font-size: $fs-l;
}
.ja{
  font-size: $fs-xs;
}
.nav-container{
  margin-top: 25px;
  margin-bottom: 25px;
}

/*----------  mv  --------*/
.mv{
  background-image: url(../img/heder.png);
  &-container{
    max-width: 920px;
    margin: 0 auto;
    height: auto;
    position: relative;
  }
  &-flex{
    display: flex;
    justify-content: space-between;
    margin-top: 88px;
  }
  &-btn{
    padding: 23px 30px;
    background-color: $primary;
    color: $white;
    font-size: $fs-s;
    position: absolute;
    bottom: -90px;
    right: 0px;
  }
}

/* INTRODUCTION */
.intro{
  position: relative;
  background-color: rgba(255,255,255, .3);
  &-img::before{
    content: url(../img/intro.png);
    position: absolute;
    top: 0;
    left: 0;
    width: 28.4%;
    height: auto;
  }
  &-ttl{
    text-align: center;
    font-size: 2.875em;
    padding-bottom: 15px;
    color: #301F1B;
  }
  &-sbttl{
    text-align: center;
    padding-bottom: 30px;
    color: #301F1B;
  }
  &-txt{
    font-size: $fs-xs;
    color: $info;
    margin-left: 30px;
    line-height: 1.75;
  }
}
//ここは要改善ポイント
.ly-flex > p:last-of-type{
  margin-right: 30px;
}

/*--------------news------------*/
.news{
  position: relative;
  &-ttl{
    font-size: 43px;
    text-align: center;
    font-weight: 300;
    padding-bottom: 30px;
  }
  &-btn{
    position: absolute;
    top: 10px;
    right: 0;
    padding: 12px;
    color: $white;
    background-color: $primary;
  }
  &-info{
    width: 31%;
    height: 260px;
    background-color: $white;
  }
  &-date{
    font-size: $fs-xs;
    padding-top: 14px;
    color: #666;
  }

  &-txt{
    font-weight: 600;
    color: $info;
    font-size: 1em;
  }
}

/*-------------- story ------------*/
.story{
  background-image: url(../img/story.png);
  &-ttl{
    text-align: center;
    padding-top: 30px;
    color: $white;
    font-size: 43px;
  }
  &-container{
    position: relative;
    width: 320px;
    margin-top: 100px;
    margin-right: 0;
    margin-left: auto;
    padding-bottom: 75px;
  }
  &-txt{
    color: $white;
    font-size: $fs-xs;
    line-height: 1.75;
  }
  &-btn{
    position: absolute;
    right: 0;
    bottom: 30px;
    background-color: $primary;
    padding: 11px 16px;
    color: $white;
  }
}

/*-------------- COMMENT ------------*/
.comment{
  margin-bottom: 245px;
  &-ttl{
    font-size: 2.69em;
    text-align: center;
  } 
  &-sbttl{
    font-size: 1.5em;
    text-align: center;
    padding: 33px;
  }
  &-bgimg{
    background-image: url(../img/comments.png);
    position: relative;
  }
  &-container{
    color: $white;
    width: 420px;
    padding-top: 44px;
    padding-bottom: 42px;
    padding-left: 30px;
  }
  &-person{
    font-size: 1.25em;
    padding-bottom: 15px;
    span{
      font-size: 1.625em;
    }
  }
  &-txt{
    font-size: $fs-s;
    font-weight: 300;
    line-height: 1.57;
  }
  &-btn{
    position: absolute;
    right: 30px;
    bottom: 30px;
    background-color: $primary;
    padding: 10px 20px;
    color: $white;
  }
} 

/*-------------- CAST ------------*/
.cast{
  background-color: #FDF9E6;
  position: relative;  
  &-bgColor{
    position: absolute;
    top: -180px;
    width: 100%;
    margin-bottom: 30px;
  }
  &-ttl{
    font-size: 2.69em;
    text-align: center;
  }
  &-person{
    width: 30%;
    margin-top: 24px;
    margin-right: 30px;
    margin-left: 30px;
  }
  &-img{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  &-position{
    text-align: center;
    font-size: 1rem;
    padding-top: 38px;
  }
  &-name{
    text-align: center;
    font-size: $fs-l;
    font-weight: 600;
    color: $info;
  }
  &-career{
    font-size: $fs-xs;
    text-align: center;
    color: #666666;
  }
  &-txt{
    font-size: $fs-xs;
    padding-top: 15px;
    color: #666666;
  }
  &-btn{
    display: block;
    padding: 10px 23px;
    border: 5px solid #C63205;
    color: #C63205;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

